#contentSlide{
	
	margin: 0 auto;
	height: 300px;
	width: 940px;
	margin-bottom: 50px;
        position: relative;
        z-index: 1;
}


ul, li {
	margin: 0; padding: 0; border: 0;
}

div#slideshow {
	
	width: 940px; height: 370px;
}

div#slideshow ul#controles {
	
	list-style: none;
	position: relative; 
	top: 150px; 
        opacity: 0.1;
	z-index: 15;
}
div#slideshow #controles li#cAtras {
	float: left; margin: 0;
}
div#slideshow #controles li#cAdelante {
	float: right; margin: 0;
}
div#slideshow #controles li a {
	display: block;
        width: 60px;
        height: 60px;
        opacity: 0.5;
}
div#slideshow #controles li#cAtras a {
        background-image: url('../img/Arrows-Left-circular-icon.png') ;
	
	
}
div#slideshow #controles li#cAdelante a {
	 background-image: url('../img/Arrows-Right-circular-icon.png')  ;
	
}

div#slideshow ul#slides {
	list-style: none;
	position: absolute;
	
}
div#slideshow ul#slides li {
	
}


