/* 
    Document   : estilos
    Created on : 17/04/2013, 08:19:46 PM
    Author     : Mac
    Description:
        Purpose of the stylesheet follows.
*/
/* 
  ========================================= 
  	Globales
  ========================================= */
root { 
    display: block;
}

body {
    
    background-color: #e1e1e1;
}

#contendor {
    
    height: 100%;
}
#contendor-interno {
    
    width: 940px;
    border: solid 1px blue;
    margin: 0 auto;
   
}
header {
    
    border: solid 1px yellow;
    height: 100px;
    background-color: #3a3938;
}

section {
    
    border: solid 1px green;
    height: 400px;
}

footer {
    
    border: solid 1px red;
    height: 300px;
    background-color: #9a9a9a;
    
}

/* 
  ========================================= 
  	Menú Básico
  ========================================= */
  
  /* 
     1 - Elimina todos los espacios entre elementos (especialmente entre li) reduciendo el texto
     2 - Elimina todo el relleno de sobra que tienen las cajas de menú ul*/
  nav ul{
    font-size: 0;
    padding: 0;

  }

  /* Muestra en una sola lína todos los elementos li*/
  nav ul li {
       
  	display: inline-block;
  }

  /* 
     1 - Deja el tamaño del texto en 18 pixeles 
  	 2 - Quita la decoración del texto
  	 3 - Presenta el texto en color blanco
  	 4 - Muestra los elementos como una caja en forma de bloque (necesario para cambiar el tamaño de cada botón del menú)
  	 5 - Cambia el tamaño de los botones del menú (requiere display: block)
   */
  nav ul li a{
        width: 80px;
  	font-size: 9px;
  	text-decoration: none;
  	color: white;
  	display: block;
  	padding: 10px 3px;
        text-align: center;

  }
  /* 
     Evento: Cuando el ratón pasa sobre un elemento a
  	 1 - cambia el color del fondo de el botón */
  ul li a:hover{
  	background: lightgray;
  }


  /* 
  ========================================= 
  	Submenús
  ========================================= */

  /*
	  1 - Esconde todos los submenús
    2 - Agrega color al submenú
   */
  nav ul ul {
      font-size: 7px;
       width: 87px;
       text-wrap: normal;
  	display: none;
    background: gray;
  }

  /* 
  	Evento: Cuando el ratón pasa sobre un elementó li
  	1 - Permite que el submenú quede sobre el menú principal
    2 - Muestra la caja de submenú como un elemento de bloque
  */
  nav ul li:hover > ul{
  	position: absolute;
  	display: block;
  }

  /* 
  	1 - Permite que el submenú se visualice vertical
  */
  nav ul ul li{
  	display: block;
  }

  /* Permite que un submenú dentro de otro submenú se presente bien*/
  nav ul ul ul{
    left: 100%; 
    top:0px;
  }

  /* 
  ========================================= 
    Estilos adicionales
  ========================================= */