#contentSlide{
	
	margin: 0 auto;
	height: 300px;
	width: 920px;
	border-radius: 5px;
        background-color: #252525;
	box-shadow: 0px 0px 5px #000;
	margin-bottom: 50px;
}

ul, li {
	margin: 0; padding: 0; border: 0;
}

div#slideshow {
	
	width: 920px; height: 300px;
}

div#slideshow ul#controles {
	
	list-style: none;
	position: relative; 
	top: 100px; 
	z-index: 15;
}
div#slideshow ul#controles li#cAtras {
	float: left; margin: 0;
}
div#slideshow ul#controles li#cAdelante {
	float: right; margin: 0;
}
div#slideshow ul#controles li a {
	display: block; width: 60px; height: 101px;
	/*border: 1px solid pink;*/
}
div#slideshow ul#controles li#cAtras a {
	background: url(../resources/images/flechaIzq.png);
	border-radius: 0px 60px 60px 0px;
}
div#slideshow ul#controles li#cAdelante a {
	background: url(../resources/images/flechaDer.png);
	border-radius: 60px 0px 0px 60px;
}

div#slideshow ul#slides {
	list-style: none;
	position: absolute;
	
}
div#slideshow ul#slides li {
	
}


