/* 
    Document   : estilos
    Created on : 17/04/2013, 08:19:46 PM
    Author     : Mac
    Description:
        Purpose of the stylesheet follows.
*/
/* 
  ========================================= 
        Globales
  ========================================= */
root { 
    display: block;
}

html {

}
body {

    background-color: #e1e1e1;
    font-family: 'Montserrat', sans-serif;
}

#contendor {

    height: 100%;
}

#contendor-interno {

    width: 940px;
    height: auto;
    /* border: solid 1px blue; */
    margin: 0 auto;

}
header {



    background: #333;
    /* border: solid 1px yellow; */
    height: 80px;
    width: 100%;

    position: fixed;


}
#header-logo {

    background-image: url('../img/logo.png') ;
    background-size: 80px;
    height: 80px;
    width: 80px;
    /* border: solid 1px yellow; */
    float: left;

}
#header-opciones {

    /* border: solid 1px yellow; */
    float: right;

}

section {

    /*   border: solid 1px green; */

}

#seccion-principal {

    padding-top: 80px;
    min-height: 480px;


}
#seccion-media {

    height: 100px;
    background-color: #e1e1e1;


}
#seccion-inferior {

    margin-top: 20px;
    height: 200px;
    background-color: #e1e1e1;
    padding: 20px;


}
#articulo {


    width: 600px;
    height: 80px;
    margin-right: 30px;
    float: right;



}
#publicidad {

    width: 600px;
    height: 80px;
    margin: 20px;
    float: left;
    background-color: #0097ca;
    text-align: center;
    -webkit-border-radius: 10px;

    border-radius: 10px;

}
#eventos {

    width: 250px;
    height: 80px;
    margin: 20px;
    float: left;
    background-color: #609120;
    text-align: center;
    -webkit-border-radius: 10px;

    border-radius: 10px;


}
footer {

    border: solid 1px red;
    height: 300px;
    background-color: #9a9a9a;

}

/* 
  ========================================= 
        Menú Básico
  ========================================= */

nav {


    float: left;
    margin:  30px 0 0 0;
    width: auto;
    /* border: solid blueviolet 1px; */
}
/* 
   1 - Elimina todos los espacios entre elementos (especialmente entre li) reduciendo el texto
   2 - Elimina todo el relleno de sobra que tienen las cajas de menú ul*/
nav ul{
    font-size: 0;
    padding: 0;

}

/* Muestra en una sola lína todos los elementos li*/
nav ul li {

    display: inline-block;
}

/* 
   1 - Deja el tamaño del texto en 18 pixeles 
       2 - Quita la decoración del texto
       3 - Presenta el texto en color blanco
       4 - Muestra los elementos como una caja en forma de bloque (necesario para cambiar el tamaño de cada botón del menú)
       5 - Cambia el tamaño de los botones del menú (requiere display: block)
*/
nav ul li a{
    width: 70px;
    font-size: 8px;
    text-decoration: none;
    color: white;

    display: block;
    padding: 10px 3px;
    text-align: center;

}
/* 
   Evento: Cuando el ratón pasa sobre un elemento a
       1 - cambia el color del fondo de el botón */
ul li a:hover{
    background: lightgray;

}


/* 
========================================= 
      Submenús
========================================= */

/*
        1 - Esconde todos los submenús
  2 - Agrega color al submenú
*/
nav ul ul {
    font-size: 7px;
    width: 87px;
    text-wrap: normal;
    display: none;
    background: gray;

}

/* 
      Evento: Cuando el ratón pasa sobre un elementó li
      1 - Permite que el submenú quede sobre el menú principal
  2 - Muestra la caja de submenú como un elemento de bloque
*/
nav ul li:hover > ul{
    position: absolute;
    display: block;
}

/* 
      1 - Permite que el submenú se visualice vertical
*/
nav ul ul li{
    display: block;
}

/* Permite que un submenú dentro de otro submenú se presente bien*/
nav ul ul ul{
    left: 100%; 
    top:0px;
}

/* 
========================================= 
  Botones
========================================= */

button {

    width: 60px;
    height: 25px;
    background-color: #684e24;
    border: none;
    font-size: 10px;
    background-color: #0097ca;

}
#boton-entrar {

    margin-top: 30px;
    float: left;

}

#boton-buscar {

    margin-top: 30px;
    float: left;
    width: 70px;
    margin-left: 10px;
    background-color: #609120;
}
#boton-salir {

    margin-top: 30px;
    float: right;
    width: 70px;
    margin-left: 10px;
    background-color: #609120;
}
#boton-unir {

    margin-top: 30px;
    float: left;
    width: 200px;
    margin-left: 25px;
    height: 80px;
    background-color: #333;
    color: whitesmoke;
             -webkit-border-radius: 10px;
    
    border-radius: 10px;

}
/* 
========================================= 
  Formularios
========================================= */

.form {

    background-color: #684e24;

}
/* 
========================================= 
  Sitio administrativo
========================================= */

.modulo {

    width: 270px;
    height: 100px;
    background-color: white;
    float: left;
    margin: 10px 20px 10px 20px;
    text-align: center;
    display: inline-block;
    -webkit-border-radius: 10px;

    border-radius: 10px;

}

